
.wrapper{
    max-width: 1222px;
    margin: 0 auto;
}
.container-header{
    max-width: 1470px;
    padding: 15px 0;
    margin: 0 auto
}
.container-welcome{
    max-width: 1470px;
    padding: 15px 0;
    margin: 0 auto
}
.container-about{
    max-width: 1470px;
    padding: 15px 0;
    margin: 0 auto
}
.container-service{
    max-width: 1470px;
    padding: 15px 0;
    margin: 0 auto
}
.container-about{
    max-width: 1470px;
    padding: 15px 0;
    margin: 0 auto
}
.container-prices{
    max-width: 1470px;
    padding: 15px 0;
    margin: 0 auto
}
.container-contacts{
    max-width: 1470px;
    padding: 15px 0;
    margin: 0 auto
}
.container-footer{
    max-width: 1470px;
    padding: 15px 0;
    margin: 0 auto
}