.about__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 153px;
    padding: 27.9px 109px 94px 108px;
    .about-content{
        max-width: 605px;
        .about-h2{
            width: 463px;
            font-family: 'Inika';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 52px;
            color: #499A18;
            .second-color2{
                color: #E06733;
            }
        }
        .about-description{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: #636060;
        }
    }
}
@media (max-width:768px){
    .about__wrapper{

        flex-direction: column;
        gap: 40px;
        padding-top:10px ;
        margin: 0 auto;
        .about-content{
            padding-right: 65px;
                .about-h2{
                width: 423px;
                font-family: 'Inika';
                font-style: normal;
                font-weight: 400;
                font-size: 35px;
                line-height: 46px;
                text-align: center;
                padding-left: 124px;
                padding-bottom: 20px;
            }
            .about-description{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                color: #636060;
                width: 668px;
               padding-right: 10px;
            }
        }
        .house-plant1{
            padding-top: 3px;
            width: 250px;
        }
    }
}