.about__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 153px;
    padding: 27.9px 109px 94px 108px;
    .about-content{
        max-width: 605px;
        .about-h2{
            width: 463px;
            font-family: 'Inika';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 52px;
            color: #499A18;
            .second-color2{
                color: #E06733;
            }
        }
        .about-description{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: #636060;
        }
    }
}
@media (max-width:768px){
    .about__wrapper{

        flex-direction: column;
        gap: 40px;
        padding-top:10px ;
        margin: 0 auto;
        .about-content{
            padding-right: 65px;
                .about-h2{
                width: 423px;
                font-family: 'Inika';
                font-style: normal;
                font-weight: 400;
                font-size: 35px;
                line-height: 46px;
                text-align: center;
                padding-left: 124px;
                padding-bottom: 20px;
            }
            .about-description{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                color: #636060;
                width: 668px;
               padding-right: 10px;
            }
        }
        .house-plant1{
            padding-top: 3px;
            width: 250px;
        }
    }
}
@media(max-width:380px){
    .about__wrapper{
        padding: 11px 0px 32px 0px ;
        gap: 0;
        .about-content{
            gap: 0;
            padding: 0;

            .about-h2{
                padding: 0;
                margin: 19px 0px 22px 32px;
                width: 288px;
                height: 57.74px;
                font-family: 'Inika';
                font-style: normal;
                font-weight: 400;
                font-size: 25px;
                line-height: 33px;
                text-align: center;
            }
            .about-description{
                margin: 0px 0px 0px 11px ;
                width: 330px;
                height: 228.38px;
                left: 25px;
                top: 109.29px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 25px;
            }

        }
        .house-plant1{
            width: 150px;
            height: 147px;
            padding: 0px 0px 0px 0px;
            margin: 0px 0px 0px 0px;
        }
    }
}