.contacts{
    background-color:#EDF2EC;
}
.contacts__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .contacts-item1{
        margin: 26px 0 0 6px;
    }

    .contacts-item2{

        .contact-me{
            font-family: 'Inika';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 52px;
            color: #499A18;
            width: 195px;
            margin: 53px 63px 432px 114px;
            cursor: pointer;
        }
    }

    .contacts-item3{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 148px 19px 352px 0;
        margin-right: 2px;
       .button-contacts{
        background: #D6E7D2;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0px;
        width: 450px;
        height: 50px;
        border: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 0.05em;
        color: #717171;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 175px;
        padding: 7px 222px 10px 20px;
        cursor: pointer;
       }
       .ellipse4{
        padding-left: 160px;
       }
    }

}
@media (max-width:768px){
    .contacts{
        .contacts__wrapper{
            display: flex;
            flex-direction: column;
            .contacts-item1{
                width: 200px;
                padding-top: 99px;
                padding-right: 2px;
                order: 3;
            }
            .contacts-item2{
                padding: 0;
               margin: 0;
                .contact-me{
                    padding: 0;
                    padding-top: 37px;
                    margin: 2px 2px 2px 2px;
                }
            }
            .contacts-item3{
                padding: 0;
                padding-top: 100px;
                align-self: center;
                .button-contacts{

                }
            }
        }
    }
}