$color-brand:#499A18;
$color-primary:#E06733;
$color-header:#717171;
$color-text:#636060;
$color-nav:#010201;
$color-background:#EDF2EC;
$color-light:while;

$content-width:1222px;
$content-width-tablet:768px;
$content-width-mobile:380px;