.contacts{
    background-color:#EDF2EC;
}
.contacts__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 133px;
    .contacts-item1{

    }
    .contacts-item2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0;
    }

}