.prices{
    max-width: 100%;
    .prices__wrapper{
        display: flex;
        justify-content: space-between;
        padding-top: 53px;
        padding-bottom: 115px;
        gap: 422px;

        .button-wrapper{
            border: 1px solid #E3E1D5;
            border-radius: 20px;
            margin-bottom: 14px;
        }
        .prices-item1{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding-left: 15px;

            .prices-item1-header{
                margin-top: 0;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 48px;
                color: #000000;
                align-self: flex-start;

            }
        }
        .container-buttons{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 34px 41px;
            gap: 32px;

        }
        .button-prices{
            width: 250px;
            height: 50px;
            background: #EDF2EC;
            border: none;
            border-radius: 20px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;
            color: #000000;
            padding: 16px 110px 16px 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;


           }
           .ellipse{
            width: 16px;
            height: 16px;
            padding-left: 88px;

           }
           .ellipse1{
            width: 16px;
            height: 16px;
            padding-left: 63px;

           }
           .ellipse2{
            width: 16px;
            height: 16px;
            padding-left:  78px;
           }
        }
        }
        .prices-item2{
            display: flex;
            flex-direction: column;
            align-items: center;

            .prices-item1-header1{
                margin-top: 0;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 50px;
                text-align: right;
                color: #000000;
                padding-right: 17px;
                padding-bottom: 0;
                cursor: pointer;
                .second-color-prices{
                    color: #499A18;
                }
            }
            .button{

                font-family: 'Inika';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 26px;
                text-align: center;
                color: #E06733;
                width: 161px;
                border: 1px solid #E06733;
                border-radius: 5px;
                padding: 12px 40px 12px 40px;
                background-color:  white;
                transition: 1s;
                color: #E06733;
                padding: 12px 33px 12px 30px;
                margin: 11px 4px 0 290px;
                cursor: pointer;
            }
            .button-bordered:hover{
                background-color: #E06733;
                color: white;
            }
            .leafs-prices{
                width: 152px;
                height: 174.99px;
                padding: 39px 0 0 292px;

            }
        }
        @media (max-width:768px){

            .prices{
                .prices__wrapper{
                    gap: 0;
                   padding: 42px 87px 86px 32px;

                .prices-item1{
                    .prices-item1-header{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 35px;
                        margin: 0 0 0 18px ;
                    }
                    .button-wrapper{
                        margin-bottom: 79px;
                        margin-left: 4px;
                    }
                 }
                 .prices-item2{
                    margin-right: 20px;
                    .prices-item1-header1{
                        padding-top: 102px;
                            margin: 0px 0 0 38px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 25px;
                        line-height: 35px;
                        width: 296px;
                    }
                    .button{
                        margin: 27px 4px 0px 158px;
                     }
                     .leafs-prices{
                        padding: 0;
                        margin: 36px 0 0px 171px;
                     }
                 }
                }
            }
        }
@media(max-width:380px){
    .prices{
        .prices__wrapper{
            flex-direction: column;
            align-items: center;
            padding: 0px 0px 0px 0px;
        .prices-item1{
            .prices-item1-header{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 25px;
                margin: 17px 0px 29px 74px;
                padding: 0px 0px 0px 0px;
            }
            .button-wrapper{

                margin: 0px 10px 0px 0px;
                .container-buttons{
                    margin: 0px 0px 0px 0px ;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    padding: 31px 21px;
                    gap: 11px;

                }
                .button-prices{
                    width: 180px;
                    height: 49.72px;
                    background: #EDF2EC;
                    border: none;
                    border-radius: 20px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 20px;
                    color: #000000;
                    padding: 18px 110px 16px 28px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    .ellipse{
                        width: 16px;
                        height: 16px;
                        padding-left: 35px;

                       }
                       .ellipse1{
                        width: 16px;
                        height: 16px;
                        padding-left: 16px;

                       }
                       .ellipse2{
                        width: 16px;
                        height: 16px;
                        padding-left: 39px;
                       }

                   }
            }
         }
         .prices-item2{
            margin-right: 20px;
            .prices-item1-header1{
                padding-top: 18px;
                    margin: 0px 0 0 38px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 35px;
                width: 230px;
                height: 77px;
                text-align: center;
            }
            .button{
                margin: 15px 0px 39px 19px;
                width: 121px;
                height: 35px;
                font-size: 15px;
                padding: 0px 0px 0px 0px;
             }
             .leafs-prices{
                display: none;
             }
         }
        }
    }
}

