.prices{
    max-width: 100%;
    .prices__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 114px;
        gap: 422px;

        .button-wrapper{
            border: 1px solid #E3E1D5;
            border-radius: 20px;
        }
        .prices-item1{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding-left: 15px;

            .prices-item1-header{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 48px;
                color: #000000;
                align-self: flex-start;
                margin-bottom:32px;
                padding-bottom: 31px;
            }
        }
        .container-buttons{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 34px 41px;
            gap: 32px;

        }
        .button-prices{
            width: 250px;
            height: 50px;
            background: #EDF2EC;
            border: none;
            border-radius: 20px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;
            color: #000000;
            padding: 16px 110px 16px 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

           }
           .ellipse{
            width: 16px;
            height: 16px;
            padding-left: 93px;

           }
           .ellipse1{
            width: 16px;
            height: 16px;
            padding-left: 65px;

           }
           .ellipse2{
            width: 16px;
            height: 16px;
            padding-left:  80px;
           }
        }
        }
        .prices-item2{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .prices-item1-header1{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 50px;
                text-align: right;
                color: #000000;
                padding-right: 14px;
                cursor: pointer;
                .second-color-prices{
                    color: #499A18;
                }
            }
            .button{
                font-family: 'Inika';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 26px;
                text-align: center;
                color: #E06733;
                width: 161px;
                border: 1px solid #E06733;
                border-radius: 5px;
                padding: 12px 40px 12px 40px;
                background-color:  white;
                transition: 1s;
                color: #E06733;
                padding: 12px 33px 12px 30px;
                margin: 38px 0 0 290px;
                cursor: pointer;
            }
            .button-bordered:hover{
                background-color: #E06733;
                color: white;
            }
            .leafs-prices{
                width: 152px;
                height: 174.99px;
                padding: 39px 0 0 292px;
            }
        }

