.prices{
    max-width: 100%;
    .prices__wrapper{
        display: flex;
        justify-content: space-between;
        padding-top: 53px;
        padding-bottom: 115px;
        gap: 407px;
        .prices__header{
            padding: 0px 0px 0px 18px;
            margin: 0px 0px 0px 0px;
        }
        .prices__accordion{

            font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 48px;
                padding: 0px 0px 0px 1px;
                margin: 0px 0px 0px 0px;

        }
        .accordion{
            display: flex;
            flex-direction: column;
            gap: 32px;
            border: 1px solid #E3E1D5;
            border-radius: 20px;
            padding: 37px 39px 30px 40px;
            margin: 58px 0px 0px 0px;

            .accordion__header{
                padding: 12px 42px 4px 34px;
                width: 250px;
                height: 50px;
                border-radius: 20px;
                background: #EDF2EC;
                display: flex;
                justify-content: space-between;
                gap: 20px;
                border: none;
                outline: none;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 20px;
                color: #000000;
                cursor: pointer;
                .price__accordion-arrow{
                    width: 17px;
                }
            }
            .accordion__header.active{
                background-color: #D6E7D2;
                transition: 0.2s;
                border-radius: 20px 20px 2px 2px;
                .price__accordion-arrow{
                    transform: rotate(180deg);
                    transition: all 0.3s ease-in-out;
                }
            }
            .accordion__body{
                padding: 0 1rem;
                background-color: #f3f3f3;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 300;
                font-size: 10px;
                line-height: 10px;
                color: #717171;
                max-height: 0;
                overflow: hidden;
                transition: all 0.3s ease-in-out;
                border-radius: 2px 2px 20px 20px;
                width: 230px;
                .prices__description{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 10px;
                    line-height: 10px;
                    color: #717171;
                    width: 169px;
                    height: 30px;

                }
                 .prices__cost{
                    padding: 2px 12px 5px 2px;
                margin: 0px 0px 0px 0px ;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 20px;
                    color: #000000;
                    .prices__cost-modificator{
                        color: #E06733;
                    }
                }



            }
            .accordion__body.active{
                max-height: 10rem;
                padding: 1rem;
                background: #D6E7D2;
                .prices__line{
                    background-color:  #717171;
                    width: 220px;
                    height: 0.3px;
                    padding: 0px 0px 0px 0px ;
                    margin: 0px 0px 0px 0px;
                    transition: 0.4s ease-in-out;
                    border-radius: 2px;
                }
            }
            .price__button{
                border-radius: 10px;
                border: none;
                padding: 2px 12px 3px 12px;
                margin: 0px 0px 0px 0px ;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                color: #717171;
                cursor: pointer;
            }
        }


        }
        }
        .prices-item2{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px 0px 0px 0px;
            margin: 0px 0px 0px 0px;
            .prices-item1-header1{
                margin-top: 0;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 50px;
                text-align: right;
                color: #000000;
                padding-right: 17px;
                padding-bottom: 0;
                cursor: pointer;
                .second-color-prices{
                    color: #499A18;
                }
            }
            .button{

                font-family: 'Inika';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 26px;
                text-align: center;
                color: #E06733;
                width: 161px;
                border: 1px solid #E06733;
                border-radius: 5px;
                padding: 12px 40px 12px 40px;
                background-color:  white;
                transition: 1s;
                color: #E06733;
                padding: 12px 33px 12px 30px;
                margin: 11px 4px 0 290px;
                cursor: pointer;
            }
            .button-bordered:hover{
                background-color: #E06733;
                color: white;
            }
            .leafs-prices{
                width: 152px;
                height: 174.99px;
                padding: 39px 0 0 292px;

            }

        }
        @media (max-width:768px){

            .prices{
                .prices__wrapper{
                    gap: 0;
                   padding: 42px 87px 86px 32px;

                    .prices__header{
                        .prices__accordion{
                            padding: 0px 0px 0px 14px ;
                            margin: 0px 0px 0px 0px;
                            font-size: 35px;
                        }
                    }
                    .accordion{
                        padding: 33px 39px 30px 43px;
                        margin: 58px 0px 0px 0px;
                    }
                 .prices-item2{
                    margin-right: 20px;
                    .prices-item1-header1{
                        padding-top: 102px;
                            margin: 0px 0 0 38px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 25px;
                        line-height: 35px;
                        width: 296px;
                    }
                    .button{
                        margin: 27px 4px 0px 158px;
                     }
                     .leafs-prices{
                        padding: 0;
                        margin: 36px 0 0px 171px;
                     }
                 }
                }
            }
        }
@media(max-width:580px){
    .prices{
        .prices__wrapper{
            flex-direction: column;
            align-items: center;
            padding: 0px 0px 0px 0px;
             .prices__header{
                        .prices__accordion{
                            padding: 0px 0px 0px 14px ;
                            margin: 18px 0px 0px 66px;
                            font-size: 25px;
                        }
                    }
                    .accordion{
                        padding: 28px 14px 25px 20px;
                        margin: 28px 24px 0px 1px;
                        gap: 15px;
                        .accordion__item{
                            .accordion__header{
                                padding: 16px 41px 0px 30px;
                                width: 181px;
                                font-size: 15px;
                            }
                            .accordion__body{
                                width: 161px;
                            }
                        }
                    }
         .prices-item2{
            margin-right: 20px;
            .prices-item1-header1{
                padding-top: 18px;
                    margin: 0px 0 0 38px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 35px;
                width: 230px;
                height: 77px;
                text-align: center;
            }
            .button{
                margin: 15px 0px 39px 19px;
                width: 121px;
                height: 35px;
                font-size: 15px;
                padding: 0px 0px 0px 0px;
             }
             .leafs-prices{
                display: none;
             }
         }
        }
    }
}

