.welcome{
    background-color:#EDF2EC;
    max-width: 100%;
}
.welcome__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 62px 109px 1px 109px;

    .welcome-leaf1{
        margin: 0px 0px 49px 0px ;
        padding: 0px 0px 0px 0px ;
    }

    .welcome-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 100px;

        .welcome-h1{
            padding-top: 1px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 4.5rem;
            line-height: 50px;
            width: 549px;
            color: #717171;
            padding: 0px 0px 27px 0px;
            margin: 35px 0px 0px 0px ;
            .second-color{
                color: #499A18;
            }

        }
        .welcome-description{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 35px;
            width: 525.44px;
            padding-bottom: 25px;
            color:#636060;

        }
        .button{
            cursor: pointer;
            width: 158px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            font-family: 'Inter',Verdana,sans-serif;
            border: 2px solid #E06733;
            border-radius: 10px;
            transition: 1s;
            background-color:  #EDF2EC;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            padding: 10px 15px 11px 25px;
        }
        .button-bordered2:hover{
            background-color: #E06733;
            color: white;}

    }
}
@media (max-width:768px) {
    .welcome{
        height: 420px;

    }
  .welcome__wrapper{
    flex-direction: row-reverse;
    padding: 11px 50px;
    .welcome-leaf1{
        width: 280px;
        padding: 0px 0px 112px 0px;
        margin: 0px 0px 0px 0px ;

    }
    .welcome-content{
        .welcome-h1{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 35px;
            line-height: 50px;
            color: #717171;
            width: 341px;
            margin: 33px 0px 15px 0px;
            padding: 0px 0px 0px 0px;
        }
        .welcome-description{
            width: 341px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 25px;
            padding: 0px 2px 18px 4.5px;
        }
        .button{}
    }
  }

}
@media(max-width:580px){
    .welcome{
        height: 311px;
        .welcome__wrapper{
            display: flex;
            flex-direction: column;
            gap: 0px;
            .welcome-leaf1{
                display: none;
            }
            .welcome-content{
                .welcome-h1{
                    width: 330px;
                    height: 72px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 25px;
                    line-height: 35px;
                    margin: 25px 1px 1px 1px;
                }
                .welcome-description{
                    width: 314.52px;
                    height: 105.42px;
                    padding: 0;
                    margin: 18px 1px 19px 1px;
                }
                .button{
                    width: 100px;
                    height: 34.14px;
                    padding: 6px 18px;
                    font-size: 9px;
                    line-height: 20px;
                    margin: 1px 1px 1px 1px;
                }
            }
        }
    }
}