html {
  font-size: 10px; }

body {
  font-size: 1.6rem;
  font-family: 'Inter',Verdana,sans-serif; }

ul {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #000000; }

.button {
  width: 158px;
  font-family: 'Inter',Verdana,sans-serif;
  padding: 14px 27px 14px 27px;
  border: 2px solid #E06733;
  border-radius: 10px;
  background-color: white;
  transition: 1s;
  background-color: #EDF2EC; }

.button-bordered:hover {
  background-color: #E06733;
  color: white; }

.button2 {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  width: 161px;
  border: 1px solid #E06733;
  border-radius: 5px;
  padding: 12px 40px 12px 40px;
  background-color: #EDF2EC;
  transition: 1s;
  color: #E06733; }

.button-bordered2:hover {
  background-color: #E06733;
  color: white; }

.welcome {
  background-color: #EDF2EC;
  max-width: 100%; }

.welcome__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 62px 109px 55px 109px; }
  .welcome__wrapper .welcome-leaf1 {
    padding-bottom: 46px; }
  .welcome__wrapper .welcome-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 100px; }
    .welcome__wrapper .welcome-content .welcome-h1 {
      padding-top: 1px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 4.5rem;
      line-height: 50px;
      width: 549px;
      color: #717171; }
      .welcome__wrapper .welcome-content .welcome-h1 .second-color {
        color: #499A18; }
    .welcome__wrapper .welcome-content .welcome-description {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 35px;
      width: 525.44px;
      padding-bottom: 25px;
      color: #636060; }
    .welcome__wrapper .welcome-content .button {
      cursor: pointer;
      width: 158px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      font-family: 'Inter',Verdana,sans-serif;
      border: 2px solid #E06733;
      border-radius: 10px;
      transition: 1s;
      background-color: #EDF2EC;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding: 10px 15px 11px 25px; }
    .welcome__wrapper .welcome-content .button-bordered2:hover {
      background-color: #E06733;
      color: white; }

@media (max-width: 768px) {
  .welcome {
    height: 420px; }

  .welcome__wrapper {
    flex-direction: row-reverse;
    padding: 7px 50px; }
    .welcome__wrapper .welcome-leaf1 {
      width: 280px;
      padding-bottom: 135px; }
    .welcome__wrapper .welcome-content .welcome-h1 {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 35px;
      line-height: 50px;
      color: #717171;
      width: 341px; }
    .welcome__wrapper .welcome-content .welcome-description {
      width: 341px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      padding: 0px 2px 15px 4.5px; } }
@media (max-width: 380px) {
  .welcome {
    height: 328px; }
    .welcome .welcome__wrapper {
      display: flex;
      flex-direction: column;
      gap: 0px; }
      .welcome .welcome__wrapper .welcome-leaf1 {
        display: none; }
      .welcome .welcome__wrapper .welcome-content .welcome-h1 {
        width: 330px;
        height: 72px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 35px;
        margin: 45px 1px 1px 1px; }
      .welcome .welcome__wrapper .welcome-content .welcome-description {
        width: 314.52px;
        height: 105.42px;
        padding: 0;
        margin: 18px 1px 19px 1px; }
      .welcome .welcome__wrapper .welcome-content .button {
        width: 100px;
        height: 34.14px;
        padding: 6px 18px;
        font-size: 9px;
        line-height: 20px;
        margin: 1px 1px 1px 1px; } }
.about__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 153px;
  padding: 27.9px 109px 94px 108px; }
  .about__wrapper .about-content {
    max-width: 605px; }
    .about__wrapper .about-content .about-h2 {
      width: 463px;
      font-family: 'Inika';
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 52px;
      color: #499A18; }
      .about__wrapper .about-content .about-h2 .second-color2 {
        color: #E06733; }
    .about__wrapper .about-content .about-description {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: #636060; }

@media (max-width: 768px) {
  .about__wrapper {
    flex-direction: column;
    gap: 40px;
    padding-top: 10px;
    margin: 0 auto; }
    .about__wrapper .about-content {
      padding-right: 65px; }
      .about__wrapper .about-content .about-h2 {
        width: 423px;
        font-family: 'Inika';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 46px;
        text-align: center;
        padding-left: 124px;
        padding-bottom: 20px; }
      .about__wrapper .about-content .about-description {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #636060;
        width: 668px;
        padding-right: 10px; }
    .about__wrapper .house-plant1 {
      padding-top: 3px;
      width: 250px; } }
@media (max-width: 380px) {
  .about__wrapper {
    padding: 10px 0px 32px 0px;
    gap: 0; }
    .about__wrapper .about-content {
      gap: 0;
      padding: 0; }
      .about__wrapper .about-content .about-h2 {
        padding: 0;
        margin: 19px 0px 22px 32px;
        width: 288px;
        height: 57.74px;
        font-family: 'Inika';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 33px;
        text-align: center; }
      .about__wrapper .about-content .about-description {
        margin: 0px 0px 0px 11px;
        width: 330px;
        height: 228.38px;
        left: 25px;
        top: 109.29px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px; }
    .about__wrapper .house-plant1 {
      width: 150px;
      height: 147px;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px; } }
.service {
  background-color: #EDF2EC; }

.service__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #EDF2EC; }
  .service__wrapper .service-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 7px;
    padding-left: 18px; }
  .service__wrapper .serviceh2 {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    width: 306px;
    color: #499A18;
    cursor: pointer; }
  .service__wrapper .buttons-service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 559px;
    height: 51px;
    padding-top: 3px;
    padding-right: 235px; }
    .service__wrapper .buttons-service .button2 {
      cursor: pointer; }

.services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 49px 12.5px 92px 12.5px; }
  .services .service-item1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    cursor: pointer; }
    .services .service-item1 .img-services {
      display: block; }
  .services .rectangle {
    width: 330px;
    text-align: center;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
    margin: 0;
    padding-top: 5px; }
    .services .rectangle .serviceh3 {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      color: #E06733;
      margin: 0; }
    .services .rectangle .service-description {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #717171;
      padding-bottom: 15px; }

@media (max-width: 768px) {
  .service .service__wrapper .service-content {
    flex-direction: column; }
    .service .service__wrapper .service-content .serviceh2 {
      padding-right: 380px;
      font-family: 'Inika';
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 46px;
      width: 306px;
      padding-top: 19px; }
    .service .service__wrapper .service-content .buttons-service {
      padding-top: 17px;
      padding-left: 105px; }
  .service .services {
    padding: 40px 17px;
    gap: 10px; }
    .service .services .service-item1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 29px; }
      .service .services .service-item1 .img-services {
        display: block; }
      .service .services .service-item1 .rectangle {
        width: 280px;
        height: 91px; }
      .service .services .service-item1 .serviceh3 {
        padding-top: 3px;
        padding-right: 3px; }
      .service .services .service-item1 .service-description {
        width: 201px;
        padding-left: 37px; } }
.prices {
  max-width: 100%; }
  .prices .prices__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 53px;
    padding-bottom: 115px;
    gap: 422px; }
    .prices .prices__wrapper .button-wrapper {
      border: 1px solid #E3E1D5;
      border-radius: 20px;
      margin-bottom: 14px; }
    .prices .prices__wrapper .prices-item1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-left: 15px; }
      .prices .prices__wrapper .prices-item1 .prices-item1-header {
        margin-top: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        color: #000000;
        align-self: flex-start; }
    .prices .prices__wrapper .container-buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 34px 41px;
      gap: 32px; }
    .prices .prices__wrapper .button-prices {
      width: 250px;
      height: 50px;
      background: #EDF2EC;
      border: none;
      border-radius: 20px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      color: #000000;
      padding: 16px 110px 16px 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer; }
    .prices .prices__wrapper .ellipse {
      width: 16px;
      height: 16px;
      padding-left: 88px; }
    .prices .prices__wrapper .ellipse1 {
      width: 16px;
      height: 16px;
      padding-left: 63px; }
    .prices .prices__wrapper .ellipse2 {
      width: 16px;
      height: 16px;
      padding-left: 78px; }

.prices-item2 {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .prices-item2 .prices-item1-header1 {
    margin-top: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: #000000;
    padding-right: 17px;
    padding-bottom: 0;
    cursor: pointer; }
    .prices-item2 .prices-item1-header1 .second-color-prices {
      color: #499A18; }
  .prices-item2 .button {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #E06733;
    width: 161px;
    border: 1px solid #E06733;
    border-radius: 5px;
    padding: 12px 40px 12px 40px;
    background-color: white;
    transition: 1s;
    color: #E06733;
    padding: 12px 33px 12px 30px;
    margin: 11px 4px 0 290px;
    cursor: pointer; }
  .prices-item2 .button-bordered:hover {
    background-color: #E06733;
    color: white; }
  .prices-item2 .leafs-prices {
    width: 152px;
    height: 174.99px;
    padding: 39px 0 0 292px; }

@media (max-width: 768px) {
  .prices .prices__wrapper {
    gap: 0;
    padding-top: 42px;
    padding-bottom: 82px; }
    .prices .prices__wrapper .prices-item1 .prices-item1-header {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 35px;
      margin: 0 0 0 18px; }
    .prices .prices__wrapper .prices-item1 .button-wrapper {
      margin-bottom: 79px;
      margin-left: 4px; }
    .prices .prices__wrapper .prices-item2 {
      margin-right: 20px; }
      .prices .prices__wrapper .prices-item2 .prices-item1-header1 {
        padding-top: 102px;
        margin: 0px 0 0 38px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 35px;
        width: 296px; }
      .prices .prices__wrapper .prices-item2 .button {
        margin: 27px 4px 0px 158px; }
      .prices .prices__wrapper .prices-item2 .leafs-prices {
        padding: 0;
        margin: 36px 0 0px 171px; } }
.contacts {
  background-color: #EDF2EC; }

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .contacts__wrapper .contacts-item1 {
    margin: 26px 0 0 6px; }
  .contacts__wrapper .contacts-item2 .contact-me {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    width: 195px;
    margin: 53px 63px 432px 114px;
    cursor: pointer; }
  .contacts__wrapper .contacts-item3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 148px 19px 352px 0;
    margin-right: 2px; }
    .contacts__wrapper .contacts-item3 .button-contacts {
      background: #D6E7D2;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 0px;
      width: 450px;
      height: 50px;
      border: none;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 40px;
      letter-spacing: 0.05em;
      color: #717171;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 175px;
      padding: 12px 35px 10px 20px;
      cursor: pointer; }
    .contacts__wrapper .contacts-item3 .ellipse4 {
      padding-left: 160px; }

@media (max-width: 768px) {
  .contacts .contacts__wrapper {
    display: flex;
    flex-direction: column; }
    .contacts .contacts__wrapper .contacts-item1 {
      width: 200px;
      padding-top: 99px;
      padding-right: 2px;
      order: 3; }
    .contacts .contacts__wrapper .contacts-item2 {
      padding: 0;
      margin: 0; }
      .contacts .contacts__wrapper .contacts-item2 .contact-me {
        padding: 0;
        padding-top: 37px;
        margin: 2px 2px 2px 2px; }
    .contacts .contacts__wrapper .contacts-item3 {
      padding: 0;
      padding-top: 100px;
      align-self: center; } }
.wrapper {
  max-width: 1256px;
  margin: 0 auto; }

.header {
  background-color: #EDF2EC;
  max-width: 100%; }
  .header .wrapper__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 0; }
    .header .wrapper__header .logo {
      margin: 4.5px 0 8px 16px; }
    .header .wrapper__header .navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      padding-right: 20px; }
      .header .wrapper__header .navigation__link {
        font-family: 'Inika',Verdana, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 50px;
        margin-left: 47px; }
      .header .wrapper__header .navigation a {
        transition: 1s; }
      .header .wrapper__header .navigation a:hover {
        color: #E06733; }

@media (max-width: 768px) {
  .wrapper {
    max-width: 705px; }
    .wrapper .navigation__link {
      font-family: 'Inika';
      font-style: normal;
      font-weight: 700;
      font-size: 16px; }

  .header .wrapper__header {
    padding: 35px 0; } }
@media (max-width: 380px) {
  .wrapper {
    max-width: 380px; }

  .header .wrapper__header {
    padding: 28px 17px 0px 7px; }
    .header .wrapper__header .header-navigation {
      display: flex; }
      .header .wrapper__header .header-navigation .navigation {
        display: none; }
      .header .wrapper__header .header-navigation .hamb {
        display: flex;
        margin: 1px 3px 4px 1px; }
        .header .wrapper__header .header-navigation .hamb .hamb-field {
          cursor: pointer; }
          .header .wrapper__header .header-navigation .hamb .hamb-field .bar {
            display: block;
            width: 37px;
            border: 2px solid #717171;
            height: 0 px;
            margin: 4px;
            transition: 0.2s; }
        .header .wrapper__header .header-navigation .hamb .popup {
          position: fixed;
          top: 75px;
          right: -100%;
          width: 100%;
          height: 100%;
          background-color: #EDF2EC;
          z-index: 1;
          display: flex;
          transition: 0.3s; }
        .header .wrapper__header .header-navigation .hamb .popup.open {
          right: 0; } }
.container__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0;
  max-width: 1222px; }
  .container__wrapper .footer-item1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000; }
    .container__wrapper .footer-item1 .github-footer {
      cursor: pointer; }
  .container__wrapper .footer-item2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    padding-left: 12px;
    cursor: pointer; }
  .container__wrapper .footer-item3 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 22.2px; }
    .container__wrapper .footer-item3 .social1 {
      cursor: pointer; }

@media (max-width: 768px) {
  .container__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 26px; }
    .container__wrapper .footer-item1 {
      padding: 0;
      margin: 0;
      height: 30px; }
    .container__wrapper .footer-item2 {
      padding: 0; }
    .container__wrapper .footer-item3 {
      padding: 0;
      padding-top: 10px; } }

/*# sourceMappingURL=style.css.map */
